<div class="row">

  <div class="col-xs-12">
    <h4 class="breadcrumb"><%= @header %></h4>
    <%= render :partial => 'list' %>
    <br>
    <%= will_paginate @channels, renderer: BootstrapPagination::Rails %>
  </div>

</div>

