<div id="home-top">
  <div id="home-top-center">
    <div id="home-motto">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64" style="margin-bottom:16px;">
        <rect x="2" y="2" width="28" height="19" rx="3" fill="rgba(255,255,255,0.9)"/>
        <polygon points="7,21 13,21 9,28" fill="rgba(255,255,255,0.9)"/>
        <polyline points="6,11.5 9.5,11.5 12,5.5 16,17.5 20,7.5 22.5,13.5 26,11.5" fill="none" stroke="#2FA4E7" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <h1><%= t(:home_motto) %></h1>
      <%= t(:home_tagline) %>
    </div>
  </div>
</div>

<div class="container">

  <%= render 'layouts/flash' %>

  <div class="jumbotron" style="margin-top:30px; text-align:center;">
    <h2>Get Started</h2>
    <p style="font-size:1.1em;">Build your Internet of Things. Create a free account to start collecting and visualizing data.</p>
    <p style="margin-top:20px;">
      <%= link_to new_user_registration_path, class: 'btn btn-primary btn-lg' do %>
        <i class="fa fa-rocket"></i> Sign Up Free
      <% end %>
      <a href="/docs" class="btn btn-default btn-lg" style="margin-left:8px;">
        <i class="fa fa-book"></i> Documentation
      </a>
    </p>
  </div>

</div>
