<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>

  <body style='padding-top: 50px;'>

    <div id="wrap">
      <%= render 'layouts/nav' %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>

